* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 16px;
}


ul {
    list-style: none;
    color: inherit;
    text-transform: uppercase;
}

header{
    background-color: none;
    color: white;
    padding: .5rem 0;
    background-color: black;
}


.nav-contain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    
}


.nav{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    
}

.nav a{
    color: white;
    text-decoration: none;
}

.nav__ul__one {
    margin: 0 auto;
}

.nav-contain{
    display: flex;
    gap: 1.6rem;
}
.nav__ul__one{
    display: flex;
    gap: 1.6rem;
}

.hamburger{
    display: none;
    cursor: pointer;
}



@media (max-width: 760px) {
    .nav-contain {
        font-size: 1.2rem;
        z-index: 2;
    }
    

    .nav {
        flex-direction: column;
        gap: 2rem;
        position: absolute;
        top: 0;
        right: -100%;
        bottom: 0;
        width: 100%;

        padding-top: 6rem;
        align-items: center;
        text-align: center;
        background-color: red;
        color: white;

        transition: .1s ease-in-out;

        
    }

    .nav__ul__one {
        margin: 0 auto;
        flex-direction: column;
    }
    


    .nav.active{
        right: 0;
    }

    
    .hamburger{
        display: block;
        z-index: 2;
    }
}